@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-3: #828282;
    --gray-4: #BDBDBD;
    --gray-5: #E0E0E0;
    --gray-6: #F2F2F2;
    --orange: #F2994A;
    --primary: #4E5150;
    --btn-hover: #fda95e;
    --btn-active: #ff9232;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    padding: 0 12px;
    justify-content: center;
}

.page {
    width: 100%;
    max-width: 960px;
    min-height: 100vh;
    padding: 32px 0 0;
}

main {
    width: 100%;
    display: flex;
    align-items: self-end;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

h1, h2, p, label, input, select {
    line-height: 1.22em;
}

hr {
    height: 1px;
    border: none;
    background-color: var(--gray-4);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary);
}

h2 {
    font-size: 14px;
    margin: 40px 0 12px;
    color: var(--gray-1);
}

input:focus,
select:focus {
    outline: none;
}

.description {
    width: 100%;
    border-radius: 12px;
    padding: 30px 25px 20px;
    background-color: var(--gray-6);
}

.product {
    display: flex;
    margin-bottom: 30px;
}

.product img {
    width: 122px;
    border-radius: 12px;
    margin-right: 20px;
}

.product .info {
    display: flex;
    flex-direction: column;
}

.product .title {
    font-size: 12px;
    margin-bottom: 8px;
    color: var(--primary);
}

.product .price {
    display: flex;
    align-items: center;
}

.new-price {
    font-size: 14px;
    color: var(--orange);
    margin-right: 15px;
}

.old-price {
    font-size: 10px;
    color: var(--primary);
    text-decoration: line-through;
}

.quantity-input {
    width: 120px;
    display: flex;
    padding: 12px;
    font-size: 16px;
    margin-top: auto;
    align-items: center;
    border-radius: 12px;
    justify-content: space-between;
    border: 1px solid var(--gray-3);
}

.quantity-input span {
    font-size: 18px;
    cursor: pointer;
    font-weight: 400;
    user-select: none;
    border-radius: 4px;
    color: var(--gray-3);
    font-family: 'Material Icons';
    background-color: var(--gray-5);
}

.description .full-info {
    margin-top: 90px;
    border-top: 1px solid var(--gray-4);
}

.full-info > div {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.full-info {
    font-size: 14px;
    color: var(--gray-1);
}

.form {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form .form-row {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

form label {
    font-size: 10px;
    margin-bottom: 5px;
    color: var(--gray-2);
}

.input-wrapper {
    display: flex;
    padding: 12px;
    align-items: center;
    border-radius: 12px;
    color: var(--gray-3);
    border: 1px solid var(--gray-3);
}

.input-wrapper::before {
    content: attr(data-icon);
    font-size: 16px;
    margin-right: 12px;
    color: var(--gray-3);
    font-family: 'Material Icons';
}

form :is(input:not(input[type="checkbox"], input[type="submit"]), select) {
    width: 100%;
    border: none;
    font-size: 12px;
    color: var(--primary);
    font-family: 'Montserrat', sans-serif;
}

form > .address {
    gap: 20px;
    display: flex;
}

.address > .form-row {
    flex: 1 1 100%;
}

.form-row.checkbox{
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.form-row.form-row.checkbox label {
    margin: 0;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    appearance: none;
    margin-right: 8px;
    border-radius: 4px;
    text-align: center;
    font-family: 'Material Icons';
    border: 1px solid var(--gray-3);
}

input[type="checkbox"]:checked {
    border-color: var(--orange);
    background-color: var(--orange);
}

input[type="checkbox"]:checked::before {
    content: 'done';
    color: #F2F2F2;
}

input[type="submit"] {
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 4px;
    cursor: pointer;
    padding: 17px 45px;
    border-radius: 12px;
    align-self: flex-end;
    background-color: var(--orange);
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"]:hover {
    background-color: var(--btn-hover);
}

input[type="submit"]:active {
    background-color: var(--btn-active);
}

footer {
    font-size: 14px;
    padding: 24px 0;
    font-weight: 500;
    margin-top: 100px;
    text-align: center;
    color: var(--gray-4);
    font-family: 'Montserrat', sans-serif;
}

footer a,
footer a:link,
footer a:visited {
    color: var(--gray-4);
    font-weight: bold;
}

@media only screen and (min-width: 900px) {
    .page {
        padding: 64px 0 0;
    }

    .form {
        width: 465px;
    }

    .description {
        width: 380px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 18px;
        margin: 50px 0 15px;
    }

    form label {
        font-size: 12px;
        margin-bottom: 7px;
    }

    form .form-row {
        margin-bottom: 20px;
    }

    .input-wrapper {
        padding: 18px;
    }

    form :is(input, select) {
        font-size: 16px !important;
    }

    .input-wrapper::before {
        font-size: 18px;
    }

    .product .title {
        font-size: 16px;
    }

    .product .new-price {
        font-size: 16px;
    }

    .product .old-price {
        font-size: 12px;
    }

    .full-info .title {
        font-size: 18px;
    }

    input[type="checkbox"] {
        width: 22px;
        height: 22px;
        margin-right: 11px;
    }

    input[type="checkbox"]:checked::before {
        font-size: 18px;
    }
}